@media (width >= 1024px) {
  .header {
    width: 1024px;
    
  }

  .decorated-zone-right-up {
    left: 943px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    margin-block-start: 8px;
    margin-right: 387px;
  }

  .heade {
    margin-block-start: 269px;
    padding: 6px 0;
  }

  .title-head {
    margin-block-start: 108px;
    margin-bottom: 112px;
    margin-right: 2px;
    width: 491px;
  }

  .box-title {
    padding-block-end: 25px;
    margin-right: 8px;
  }

  .title-head::after {
    top: 161px;
    right: 960px;
  }

  .main {
    width: 1024px;
    margin-right: 17px;
  }
  .section-columns-tablet {
    grid-template-columns: 343px 470px;
    margin-block-start: 59px;
  }

  .text-column-dekstop {
    width: 649px;
  }
  .title-section {
    padding-left: 7px;
  }

  .text-columns-desktop {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
    padding-left: 7px;
  }
  .title-section-tablet {
    width: 280px;
  }

  .sction-blok-tablet_img {
    padding-left: 7px;
  }


  .picture-tablet-up_left {
    width: 649px;
    height: 260px;
  }

  .picture-tablet-up_end {
    width: 315px;
    height: 595px;
  }
  .picture-tablet-center_center {
    width: 315px;
    height: 315px;
  }
  .picture-tablet-center_left {
    width: 315px;
    height: 768px;
  }
  .picture-tablet-end_end {
    width: 649px;
    height: 428px;
  }

  .footer {
    min-height: 827px;
    width: 1024px;
    padding: 20px;
  }
  .footer-text-position {
    margin-block-start: 58px;
    
  }

  .style-big-text.footer-text-position::after {
    top: 79px;
  }

  .style-big-text.footer-text-position::before {
    top: 782px;
    right: 979px;
  }
}
